language: node_js

services:
  - docker

script:
  - npm install

after_success:
  - pip install --user awscli
  - eval $(aws ecr get-login --region eu-west-1 --no-include-email)
  - docker build -t test .
  - docker tag test 432782038415.dkr.ecr.eu-west-1.amazonaws.com/test
  - docker push 432782038415.dkr.ecr.eu-west-1.amazonaws.com/test

update:
  - aws cloudformation update-stack --stack-name exo4ISEN2 --template-body file://..\exercice_4\ecs-task.yaml --parameter ImageName=432782038415.dkr.ecr.eu-west-1.amazonaws.com/test